body {
    background-color: #030712;
    color: #eefaf7;
    font-family: 'Inter', sans-serif;
}

/* --- header --- */
header {
    border-bottom: 4px solid #145eff !important;
}
.brand-accent {
    color: #145eff;
}
.sub-header-text {
    color: #89919e;
}

/* --- dashboard --- */
.dashboard-card {
    background-color: #101727;
    border: 0;
    border-top: 3px solid #145eff !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}
.dashboard-card:hover {
    transform: translateY(-5px);
}

/* --- text styling --- */
.card-label {
    color: #89919e;
    margin-bottom: 5px;
}
.source-link {
    color: #89919e;
    font-size: 0.75rem;
    text-decoration: none;
}
.source-link a {
    color: #4fa2fe;
    text-decoration: none;
}